spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: root
    url: jdbc:mysql://localhost:3306/blog?serverTimezone=UTC
  thymeleaf:
    prefix: classpath:/templates
    mode: LEGACYHTML5
    cache: false
    encoding: UTF-8
#useUnicode=true&characterEncoding=UTF-8
server:
  port: 8080
  tomcat:
    uri-encoding: UTF-8

mybatis:
  mapper-locations: classpath:zzg.com.blog/award/*.xml



logging:
  level:
    zzg.com.blog: trace
    root: warn
    org:
      springframework:
        security: debug
        web: trace
      hibernate: debug
      apache:
        commons:
          dbcp2: debug
  #file: mylogfile.log
  #pattern:
   # console: '%d{yyyy-MMM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{15} - %msg%n'
   # file: '%d{yyyy-MMM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{15} - %msg%n'
#debug: true
#trace: true
